<div class="container mt-4">
  <div class="row">
    <div class="col-md-4 mb-4" *ngFor="let pokemon of pokemons">
      <div class="card">
        <img [src]="pokemon.image" class="card-img-top" alt="{{ pokemon.name }}" />
        <div class="card-body">
          <h5 class="card-title">
            <a [routerLink]="['/pokemon', pokemon.id]" class="text-decoration-none">{{ pokemon.name }}</a>
          </h5>
          <p class="card-text">Type: {{ pokemon.type }}</p>
          <p class="card-text">Power: {{ pokemon.power }}</p>
          <p class="card-text">Life: {{ pokemon.life }}</p>
        </div>
      </div>
    </div>
  </div>
</div>