<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" routerLink="/pokemons" routerLinkActive="active">Pokémon App</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav">
      <li class="nav-item">
        <a class="nav-link" routerLink="/pokemons" routerLinkActive="active" aria-current="page">Pokémon List</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/teams" routerLinkActive="active">Team Management</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/battle" routerLinkActive="active">Battle</a>
      </li>
    </ul>
  </div>
</nav>

<router-outlet></router-outlet>